.option {
    // position: absolute;
    width: 135px;
    right: 0px;
    top: 0%;
    bottom: 0%;
}

.select {
    // position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    outline: 0;
    background: #F2F2F2;
    /* blur8 */

    box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
    border-radius: 8px;

    // display: inline-block;
    }

.form {
    display: inline-block;
    margin-right: 2%;
}

.center {
    text-align: center;
}