@import "../../variables";

.root {
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, $third 100%, $primary 30%);
}

.wrap {
  width: 100%;
  max-width: 1125px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonLogo {
  width: 158px;
  height: 63px;
}
