.pokemons_block {
    margin-top: 3%;
}

.inline {
    display: inline-block;
    margin-right: 3%;
    margin-left: 4%;
}

.title {
    // position: absolute;
    left: 10.29%;
    right: 10.2%;
    top: 0%;
    bottom: 72.48%;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 3px;

    margin-top: 3%;

    color: #000000;
}

.search_field {
    // position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F2F2F2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
    // text-align: center;
    height: 50px;
    width: 80%;

    outline: 0;

    margin-left: 9%;
    margin-top: 2%;

}